@each $color,
$value in $theme-colors {
    @include bg-variant(".bg-#{$color}", $value, true);
}

@if $enable-gradients {
    @each $color,
    $value in $theme-colors {
        @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
    }
}

.bg-gradient-roxo-magenta {
    background: $mfm-roxo linear-gradient(90deg, $mfm-roxo, $mfm-magenta) repeat-x !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-transparent {
    background-color: transparent !important;
}

@each $color,
$value in $theme-colors {
    .#{$color} {
        color: $value !important;
    }
    ;
}