@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-light-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-lightitalic-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-regular-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-italic-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-semibold-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-semibolditalic-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-bold-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-bolditalic-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-extrabold-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url($fonts-path +'opensans/opensans-extrabolditalic-webfont.woff2') format('woff2'), url($fonts-path +'opensans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-thin-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-thinitalic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-light-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-lightitalic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-book-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-book-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-bookitalic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-bookitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-regular-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-italic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-medium-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-mediumitalic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-bold-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-bolditalic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-heavy-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-heavy-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-heavyitalic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-heavyitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-black-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Soft';
    src: url($fonts-path +'filsonsoft/filsonsoft-blackitalic-webfont.woff2') format('woff2'), url($fonts-path +'filsonsoft/filsonsoft-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

.text-filson-soft {
    font-family: $font-filson-soft !important;
}

.text-open-sans {
    font-family: $font-open-sans !important;
}