.section.noticias {
    padding: 20px 0;
    background-image: url('../images/BACKGROUND-cabeçalhos.png');
    background-repeat: no-repeat;
    background-position: top;
    //min-height: 600px;
    overflow: hidden;
    margin-bottom: 40px;
}

.section.noticias .content {
    padding: 20px 0;
}

.noticias .logo-section {
    position: relative;
    text-align: center;
}

.noticias .logo-section img {
    margin-top: -100px;
}

.noticias .logo-section .titulo {
    position: absolute;
    top: 0;
    width: 100%;
}

.noticias .logo-section .titulo h1 {
    font-size: 48px;
    font-weight: 900;
}

.grid-noticias {
    width: 100%;
    margin: 40px auto;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

// .grid-noticias::before {
//     content: ".";
//     display: block;
//     overflow: hidden;
//     visibility: hidden;
//     font-size: 0;
//     line-height: 0;
//     width: 0;
//     height: 0;
// }
.grid-noticias .post-item.featured {
    padding-right: 4rem;
    height: 344px;
    box-sizing: border-box;
}

.grid-noticias .post-item {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 162px;
    border-radius: 4px;
    text-decoration: none;
    padding: 1rem 3rem 1rem 1rem;
    position: relative;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: #6c6c6c;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.grid-noticias .post-item.featured h3 {
    font-size: 24px;
    line-height: 30px;
}

.grid-noticias .post-item h3 {
    font-size: 14px;
    line-height: 16px;
    white-space: normal;
}

.row-footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.bnt-enviar {
    cursor: pointer;
    border: none;
    color: $mfm-amarelo;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;
    width: inherit;
    margin: 0px auto;
}

.bnt-enviar:hover {
    color: $white;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .12), 0px 3px 1px -2px rgba(0, 0, 0, .12), 0px 1px 5px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .12), 0px 3px 1px -2px rgba(0, 0, 0, .12), 0px 1px 5px 0px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .12), 0px 3px 1px -2px rgba(0, 0, 0, .12), 0px 1px 5px 0px rgba(0, 0, 0, .2);
    -o-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .12), 0px 3px 1px -2px rgba(0, 0, 0, .12), 0px 1px 5px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .12), 0px 3px 1px -2px rgba(0, 0, 0, .12), 0px 1px 5px 0px rgba(0, 0, 0, .2);
}

@media screen and (max-width: 767px) {
    .grid-noticias {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }
    .featured-posts {
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
        scrollbar-color: $mfm-amarelo $mfm-roxo !important;
        scrollbar-width: thin !important;
    }
    .featured-posts::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }
    .featured-posts::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $mfm-amarelo;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    .featured-posts .grid-noticias .post-item.featured {
        height: 142px;
    }
    .featured-posts .no-pad {
        display: flex;
        flex-direction: row;
    }
    .featured-posts .grid-noticias .post-item {
        width: 240px;
        height: 142px;
        margin-bottom: 0;
    }
    .featured-posts .grid-noticias .post-item:not(:last-of-type) {
        margin-right: 8px;
    }
    .grid-noticias .post-item.featured h3 {
        font-size: 14px;
        line-height: 16px;
    }
}