/* Players 
***********/


/* Player Rodapé 
***********/

.section.flyer-player {
    position: fixed;
    display: grid;
    grid-template-areas: "controle" "player";
    width: 100%;
    z-index: 500;
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 0;
    bottom: 0;
}

.section.player {
    grid-area: player;
    overflow: hidden;
    background: url('../images/logo-bg-player.png') no-repeat left 40px top -10px, -webkit-gradient(linear, left top, right top, from(rgba($color: $mfm-roxo, $alpha: .9)), to(rgba($color: $mfm-magenta, $alpha: .9))) repeat-x;
    background: url('../images/logo-bg-player.png') no-repeat left 40px top -10px, linear-gradient(90deg, rgba($color: $mfm-roxo, $alpha: .9), rgba($color: $mfm-magenta, $alpha: .9)) repeat-x;
    //min-height: 20vh;
}

.section.player .titulo-img {
    margin-top: -10px;
}

.section.flyer-player .operate-box {
    grid-area: controle;
    justify-self: end;
    background-color: rgba($color: $mfm-cinza, $alpha: .8);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px 0 0 0px;
    width: 50px;
    //margin: 0px 0 0 auto;
    cursor: pointer;
}

.section.flyer-player .operate-box span {
    color: $white;
    font-size: 18px;
}

.player-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px 0px;
}

.player-box span {
    cursor: pointer;
}

.player-box .box-logo-play {
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 88px;
    padding: 0px 10px;
    margin: auto 10px;
}

.player-box .box-logo-play img {
    max-width: 88px;
    z-index: 2;
}

.player-box .box-logo-play span {
    color: $white;
    font-weight: 200;
    font-size: 64px;
    margin: auto 0px auto -15px;
}

.player-box .player-title-control {
    display: flex;
    margin: 0px 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.player-box .player-info {
    padding: 20px;
}

.player-box .player-info p {
    font-size: 14px;
    color: $white;
    font-weight: 200;
}

.player-box .player-info h3 {
    font-size: 18px;
    color: $mfm-amarelo;
    font-family: $font-primary;
}

.player-box .player-info-control {
    padding: 10px;
}

.player-box .player-info-control .progresso {
    display: grid;
    grid-template-areas: "seekbar seekbar" "current-duration total-duration";
    grid-template-columns: 50% 50%;
}

.player-box .player-info-control .progresso .seekbar {
    grid-area: seekbar;
    width: 100%;
    margin: 12px 0 0;
    padding: 10px 0px 5px;
}

.player-box .player-info-control .progresso .current-duration {
    grid-area: current-duration;
    width: 50%;
}

.player-box .player-info-control .progresso .total-duration {
    grid-area: total-duration;
    width: 50%;
    justify-self: flex-end;
    text-align: right;
}

.player-box .player-info-control .progresso .current-duration,
.player-box .player-info-control .progresso .total-duration {
    font-size: 12px;
    color: $white;
}

.player-info-control .volume-control {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
}

.player-info-control .volume-control span {
    font-size: 18px;
    color: $white;
    margin-right: 10px;
}

.player-box .player-anuncio {
    margin: auto 10px;
}


/* Player Rodapé Minimizado
***********/

.section.player.minimized {
    height: 60px !important;
    background: rgba($color: $mfm-cinza, $alpha: .8);
    max-width: 400px;
    justify-self: end;
    border-radius: 10px 0 0 0px;
}

.section.player.minimized .content {
    display: contents;
    height: 100%;
}

.section.player.minimized .titulo-img {
    display: none;
}

.section.player.minimized .player-box {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    margin: auto 0px;
    height: 100%;
}

.section.player.minimized .player-box .box-logo-play {
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0px 5px;
    margin: auto;
}

.section.player.minimized .player-box .box-logo-play img {
    display: none;
}

.section.player.minimized .player-box .box-logo-play span {
    font-size: 42px;
    margin: auto;
}

.section.player.minimized .player-box .player-title-control {
    margin: 0px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.section.player.minimized .player-box .player-info {
    padding: 5px;
}

.section.player.minimized .player-box .player-info p {
    font-size: 12px;
}

.section.player.minimized .player-box .player-info h3 {
    font-size: 14px;
}

.section.player.minimized .player-box .player-info-control {
    display: flex;
    padding: 5px;
}

.section.player.minimized .player-info-control .volume-control {
    margin-left: 10px;
}

.section.player.minimized .player-info-control .volume-control span {
    margin-right: 0px;
}

.section.player.minimized .player-info-control .volume-control .volume-range {
    display: none;
}

.section.player.minimized .player-box .player-anuncio {
    display: none;
}