.icon-button {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 32px;
    line-height: 12px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 32px;
}


/* Circle */

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: -52%;
}

.twitter span {
    background-color: $twitter-color;
}

.facebook span {
    background-color: $facebook-color;
}

.youtube span {
    background-color: $youtube-color;
}

.whatsapp span {
    background-color: $whatsapp-color;
}


/* Icons */

.icon-button i {
    background: none;
    color: white;
    height: 32px;
    left: 0;
    line-height: 32px;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 32px;
    z-index: 10;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-youtube,
.icon-button:hover .icon-whatsapp {
    color: white;
}

@media (max-width: 767.9px) {}

@media (min-width: 768px) {}